<a href="https://colab.research.google.com/github/soujanya-vattikolla/ML-Basics-Definitions/blob/main/EnsembleLearningBagging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ensemble Learning - Bagging:

Ensemble learning is all about using multiple models to combine their prediction power to get better predictions that has low variance. 

Bagging and boosting are two popular techniques that allows us to tackle high variance issue.

Bootstrap Aggregation:

When we are creating this small subset of the dataset using resampling with replacement that procedure is called bootstrap and when we combine their results using either an average or majority vote that is called aggregration. Hence bagging is also called as bootstrap aggregation.

Exercise:

Download heart disease dataset heart.csv from kaggle.

1. Load heart disease dataset in pandas dataframe

2. Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3

3. Convert text columns to numbers using label encoding and one hot encoding

4. Apply scaling

5. Build a classification model using support vector machine. Use standalone model as well as Bagging model and check if you see any difference in the performance.

6. Now use decision tree classifier. Use standalone model as well as Bagging and check if you notice any difference in performance.

7. Comparing performance of svm and decision tree classifier figure out where it makes most sense to use bagging and why.

In [13]:
# import required libraries

import pandas as pd

In [14]:
heart_df = pd.read_csv("heart.csv")
heart_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [15]:
# shape of the dataset

heart_df.shape

(918, 12)

We have 918 rows and 12 columns.

In [16]:
# describe the data

heart_df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

2. Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3

In [17]:
# check for outliers

# check for column Age


heart_df[heart_df.Age > (heart_df.Age.mean()+3 * heart_df.Age.std() )]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

They are no outliers present in Age column.

In [18]:
# check for column RestingBP

heart_df[ heart_df.RestingBP > (heart_df.RestingBP.mean()+3 * heart_df.RestingBP.std() )]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

They are outliers present in RestingBP column.

In [20]:
# Removing outliers

heart_df = heart_df[heart_df.RestingBP <= (heart_df.RestingBP.mean()+3 * heart_df.RestingBP.std() )]
heart_df.shape

(911, 12)

In [21]:
# Checking for column Cholesterol

heart_df[ heart_df.Cholesterol > (heart_df.Cholesterol.mean()+3 * heart_df.Cholesterol.std() )]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

They are outliers present in Cholesterol.

In [24]:
# Removing outliers

heart_df = heart_df[ heart_df.Cholesterol <= (heart_df.Cholesterol.mean()+3 * heart_df.Cholesterol.std() )]
heart_df.shape

(908, 12)

In [25]:
# Checking for column FastingBS

heart_df[ heart_df.FastingBS > ( heart_df.FastingBS.mean()+3 * heart_df.FastingBS.std() )]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

They are no outliers present in FastingBS.

In [26]:
# Checking for column MaxHR

heart_df [ heart_df.MaxHR > (heart_df.MaxHR.mean()+3 * heart_df.MaxHR.std() )]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

They are no outliers present in MaxHR.

In [27]:
# Checking for column Oldpeak

heart_df[ heart_df.Oldpeak > (heart_df.Oldpeak.mean()+3 * heart_df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

They are outliers present in Oldpeak column.

In [28]:
# Removing the outliers

heart_df = heart_df[ heart_df.Oldpeak <= (heart_df.Oldpeak.mean()+3 * heart_df.Oldpeak.std())]
heart_df.shape

(902, 12)

In [29]:
# Checking for column HeartDisease

heart_df[heart_df.HeartDisease > (heart_df.HeartDisease.mean()+3 * heart_df.HeartDisease.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

They are no outliers present in HeartDisease column.

3. Convert text columns to numbers using label encoding and one hot encoding

In [31]:
# checking the categorical columns

heart_df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

The categorical columns are:

Sex  

ChestPainType 

RestingECG

ExerciseAngina

ST_Slope

In [32]:
# label encoding for columns ChestPainType, RestingECG and ST_Slope

from sklearn.preprocessing import LabelEncoder

# creating a object
labelencoder = LabelEncoder()

In [33]:
label_encoded_cols = heart_df[['ChestPainType', 'RestingECG', 'ST_Slope']]

label_encode_df = label_encoded_cols.apply(labelencoder.fit_transform)
label_encode_df.head()

   ChestPainType  RestingECG  ST_Slope
0              1           1         2
1              2           1         1
2              1           2         2
3              0           1         1
4              2           1         2

In [34]:
# drop columns which are not required as the columns ChestPainType, RestingECG and ST_Slope are encoded.

heart_df.drop(['ChestPainType', 'RestingECG', 'ST_Slope'],axis='columns',inplace=True)

In [35]:
# concate the two dataframes

final_heart_df = pd.concat([heart_df,label_encode_df],axis='columns')
final_heart_df.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ChestPainType,RestingECG,ST_Slope
0,40,M,140,289,0,172,N,0.0,0,1,1,2
1,49,F,160,180,0,156,N,1.0,1,2,1,1
2,37,M,130,283,0,98,N,0.0,0,1,2,2
3,48,F,138,214,0,108,Y,1.5,1,0,1,1
4,54,M,150,195,0,122,N,0.0,0,2,1,2

In [36]:
final_heart_df.shape

(902, 12)

In [37]:
# applying one hot encoding for Sex and ExerciseAngina columns

final_heart_df = pd.get_dummies(final_heart_df,drop_first=True)
final_heart_df.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,ChestPainType,RestingECG,ST_Slope,Sex_M,ExerciseAngina_Y
0,40,140,289,0,172,0.0,0,1,1,2,1,0
1,49,160,180,0,156,1.0,1,2,1,1,0,0
2,37,130,283,0,98,0.0,0,1,2,2,1,0
3,48,138,214,0,108,1.5,1,0,1,1,0,1
4,54,150,195,0,122,0.0,0,2,1,2,1,0

In [38]:
final_heart_df.shape

(902, 12)

In [39]:
X = final_heart_df.drop('HeartDisease',axis='columns')
y = final_heart_df['HeartDisease']

In [41]:
print(X.shape)
print(y.shape)

(902, 11)
(902,)

4. Apply scaling

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ...,  1.0456339 ,
         0.51485643, -0.82065181],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.62072967,
        -1.94228905, -0.82065181],
       [-1.74679706, -0.10495034,  0.79657967, ...,  1.0456339 ,
         0.51485643, -0.82065181],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.62072967,
         0.51485643,  1.21854359],
       [ 0.37209878, -0.10495034,  0.35947592, ..., -0.62072967,
        -1.94228905, -0.82065181],
       [-1.64085227,  0.3477225 , -0.20782894, ...,  1.0456339 ,
         0.51485643, -0.82065181]])

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=0.2, random_state=20)

In [46]:
print(X_train.shape,X_test.shape)
print(y_train.shape, y_test.shape)

(721, 11) (181, 11)
(721,) (181,)

5. Build a classification model using support vector machine. Use standalone model as well as Bagging model and check if you see any difference in the performance.

In [47]:
# Train the model using standalone model 
from sklearn import svm

In [49]:
svm_model = svm.SVC()
svm_model.fit(X_train,y_train)
svm_model.score(X_test,y_test)

0.861878453038674

In [51]:
# Using the cross val score

from sklearn.model_selection import cross_val_score

In [53]:
svm_scores = cross_val_score(svm.SVC(),X,y,cv=5)
svm_scores.mean()

0.6895334561080417

In [54]:
# using bagging method for SVM 

from sklearn.ensemble import BaggingClassifier

In [56]:
svm_bag_model = BaggingClassifier(base_estimator= svm.SVC(), n_estimators=100, max_samples=0.8, random_state=0)
bagging_scores_svm = cross_val_score(svm_bag_model, X, y, cv=5)
bagging_scores_svm.mean()

0.6850767341927564

We can observe that we dont find any much difference in accuracy 68% after using bagging method.

6. Now use decision tree classifier. Use standalone model as well as Bagging and check if you notice any difference in performance.

In [57]:
# Train the model using standalone model 
from sklearn.tree import DecisionTreeClassifier

In [58]:
dtree_model = DecisionTreeClassifier()
dtree_model_scores = cross_val_score(dtree_model,X,y,cv=5)
dtree_model_scores.mean()

0.7404972375690607

In [59]:
# using bagging method for Decision Tree Classifier

dtree_bag_model = BaggingClassifier(base_estimator=dtree_model,
                                    n_estimators=100,
                                    max_samples=0.8,
                                    oob_score=True,
                                    random_state=0)
dtree_bag_scores = cross_val_score(dtree_bag_model,X,y,cv=5)
dtree_bag_scores.mean()

0.8114487415592387

We can observe that there is increase in accuracy from 74% to 81% after using bagging method.

According to performance, Decision Tree Classifier has given better accuracy compared to SVM.

In [60]:
# Use RandomForest Classifier

from sklearn.ensemble import RandomForestClassifier

In [61]:
random_model = RandomForestClassifier()
random_model_scores = cross_val_score(random_model,X,y, cv=5)
random_model_scores.mean()

0.826998158379374

In [62]:
# using bagging method for Random Forest Classifier

random_bag_model = BaggingClassifier(base_estimator=random_model,
                                     n_estimators=100,
                                     max_samples=0.8,
                                     oob_score=True,
                                     random_state=0)
random_bag_model_scores = cross_val_score(random_bag_model, X,y, cv=5)
random_bag_model_scores.mean()

0.8314057704112953

Random Forest gave a better performance, as it used bagging where it sampled not only data rows but also the columns (or features).