<a href="https://colab.research.google.com/github/soujanya-vattikolla/ML-Basics-Definitions/blob/main/FeatureEngg_OutlierDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise:

Use this air bnb new york city data set and remove outliers using percentile based on price per night for a given apartment/home.

In [1]:
import pandas as pd

In [3]:
# Exploring the Newyork City Data set

home_df = pd.read_csv('AB_NYC_2019.csv')
home_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
home_df.shape

(48895, 16)

There are 48895 rows and 16 columns.

In [7]:
home_df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [18]:
home_df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

Minimum price is showing as 0.

In [19]:
# Detect outliers using percentile

max_threshold = home_df['price'].quantile(0.999)
max_threshold

3000.0

In [20]:
home_df[home_df['price']>max_threshold].shape

(45, 16)

In [22]:
min_threshold = home_df['price'].quantile(0.01)
min_threshold

30.0

In [23]:
home_df[home_df['price']<min_threshold].shape

(404, 16)

Remove outliers using percentile

In [24]:
home_df_new = home_df[(home_df.price<max_threshold) & (home_df.price>min_threshold)]
home_df_new.shape

(48183, 16)

In [25]:
# sample of few records in the dataset

home_df_new.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
12458,9591852,Soho Greenwich Village 3+ BDR Duplx,49645950,Karen,Manhattan,SoHo,40.72546,-74.00036,Entire home/apt,450,3,12,2019-04-27,0.28,2,3
33839,26807636,"East Village, ground floor, clean private bedr...",2419727,Tim,Manhattan,East Village,40.72573,-73.98377,Private room,88,7,17,2019-06-24,1.63,1,227
28892,22277233,Sunny & Dreamy Bedstuy Room,105018962,Karly,Brooklyn,Bedford-Stuyvesant,40.68379,-73.92932,Private room,45,3,1,2018-01-01,0.05,2,0
35352,28045230,Central Park Getaway,133792790,Annie,Manhattan,Upper West Side,40.77727,-73.97950,Entire home/apt,300,1,76,2019-06-22,8.29,1,239
34149,27079532,NEW YORK CITY MANHATTAN STUDIO.,88900561,Camry,Manhattan,East Harlem,40.80203,-73.93885,Shared room,60,1,17,2019-03-01,1.48,1,0

In [27]:
home_df_new.price.describe()

count    48183.000000
mean       148.772036
std        153.594795
min         31.000000
25%         70.000000
50%        110.000000
75%        179.000000
max       2999.000000
Name: price, dtype: float64

Now, we can see the minimum value has been changed.