<a href="https://colab.research.google.com/github/soujanya-vattikolla/Machine-Learning-Tutorial/blob/main/SupportVectorMachine(SVM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Support Vector Machine

It draws a hyper plane in n dimensional space such that it maximizes margin between classification groups.

Exercise

Train SVM classifier using sklearn digits dataset (i.e. from sklearn.datasets import load_digits) and then,

1. Measure accuracy of your model using different kernels such as rbf and linear.
2. Tune your model further using regularization and gamma parameters and try to come up with highest accurancy score
3. Use 80% of samples as training data size

In [112]:
# import required libraries
import pandas as pd

In [113]:
from sklearn.datasets import load_digits

In [114]:
# loading the data
digit_dataset = load_digits()

In [115]:
#finding the feature names
digit_dataset.feature_names[:10]

['pixel_0_0',
 'pixel_0_1',
 'pixel_0_2',
 'pixel_0_3',
 'pixel_0_4',
 'pixel_0_5',
 'pixel_0_6',
 'pixel_0_7',
 'pixel_1_0',
 'pixel_1_1']

In [116]:
# finding the target names
digit_dataset.target_names[:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [117]:
digit_dataset.target

array([0, 1, 2, ..., 8, 9, 8])

In [118]:
# creating a dataframe
digits_df = pd.DataFrame(digit_dataset.data,digit_dataset.target)

In [119]:
digits_df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [120]:
digits_df['target'] = digit_dataset['target']
digits_df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [121]:
# checking if the target value is number 1, getting the same value for number 1
digits_df[digits_df.target == 1].head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,14.0,13.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,13.0,16.0,1.0,0.0,1
1,0.0,0.0,0.0,2.0,16.0,16.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,12.0,15.0,4.0,0.0,1
1,0.0,0.0,0.0,0.0,12.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,16.0,8.0,0.0,0.0,1
1,0.0,0.0,0.0,1.0,11.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,14.0,6.0,0.0,0.0,1

In [122]:
digits_df[digits_df.target==4].head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
4,0.0,0.0,0.0,8.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,15.0,4.0,0.0,0.0,4
4,0.0,0.0,0.0,0.0,12.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,12.0,8.0,0.0,0.0,4
4,0.0,0.0,0.0,9.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,16.0,2.0,0.0,0.0,4
4,0.0,0.0,0.0,6.0,16.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,16.0,3.0,0.0,0.0,4

In [123]:
# Training using SVM

from sklearn.model_selection import train_test_split

In [124]:
X = digits_df.drop('target',axis='columns')
y = digits_df.target

In [125]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [126]:
y.head()

0    0
1    1
2    2
3    3
4    4
Name: target, dtype: int64

In [127]:
X_train,X_test,y_train,y_test = train_test_split(X, y,test_size=0.2)

In [128]:
from sklearn.svm import SVC

In [129]:
# creating a model
svm_model = SVC()

In [130]:
svm_model.fit(X_train,y_train)

SVC()

In [131]:
svm_model.score(X_test,y_test)

0.9916666666666667

Using RBF kernel

In [132]:
rbf_model = SVC(kernel='rbf')

In [133]:
# finding the length of X_train
len(X_train)

1437

In [134]:
# finding the length of X_test
len(X_test)

360

In [135]:
rbf_model.fit(X_train,y_train)

SVC()

In [136]:
# finding the score
rbf_model.score(X_test,y_test)

0.9916666666666667

Using Linear kernel

In [137]:
linear_model = SVC(kernel='linear')

In [138]:
linear_model.fit(X_train,y_train)

SVC(kernel='linear')

In [139]:
# finding the score
linear_model.score(X_test,y_test)

0.9805555555555555

In [140]:
# Hypertuning 
# 1. Regularization(C)

svmmodel_c = SVC(C=10)
svmmodel_c.fit(X_train,y_train)
svmmodel_c.score(X_test,y_test)

0.9972222222222222

In [141]:
# 2. Regularization(Gamma=auto)

svmmodel_gamma = SVC(gamma='auto')
svmmodel_gamma.fit(X_train,y_train)
svmmodel_gamma.score(X_test,y_test)

0.3472222222222222

In [142]:
# 2. Regularization(Gamma=10)

svmmodel_gamma = SVC(gamma=10)
svmmodel_gamma.fit(X_train,y_train)
svmmodel_gamma.score(X_test,y_test)

0.075

We can observe that using RBF and Linear kernel, we are getting same accuracy of 99% and hypertuning the Regularization parameter C=10, the score is around 99%.