<a href="https://colab.research.google.com/github/soujanya-vattikolla/ML-Basics-Definitions/blob/main/Udemy_PythonCrashCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data types**

Numbers

In [ ]:
# integer
1

1

In [ ]:
# floating point number
1.0

1.0

In [ ]:
1/2

0.5

In [ ]:
# exponent
2**4

16

In [ ]:
# first multiplication and then addition
2 + 3 * 5 + 5

22

In [ ]:
# we can use paranthesis to specify the order
(2+3) * (5+5)

50

In [ ]:
# modulus operator gives the remainder

5 % 2

1

**Variable Assignment**

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
# Cannot start with number
10var = 20

SyntaxError: ignored

In [ ]:
# Cannot start with special characters
@var = 25

SyntaxError: ignored

**Lists**

In [ ]:
# nested list

nest_list = [1,2,[3,4]]
nest_list

[1, 2, [3, 4]]

In [ ]:
nest_list[2]

[3, 4]

**Dictionaries**

In [ ]:
# nested dictionaries
dct = {'key1':{'innerdict':[1,2]}}

In [ ]:
dct['key1']['innerdict'][1]

2

**Map**

In [ ]:
seq = [1,2,3,4,5]

list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15]

**Filter**

In [ ]:
# filter even numbers
list(filter(lambda num:num%2 ==0, seq))

[2, 4]

In [ ]:
# tuple unpacking

x = [(1,2),(3,4),(5,6)]

for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

**Exercises**

1.What is 7 to the power of 4?

In [ ]:
7**4

2401

2. Split this string:

    s = "Hi there Sam!"

into a list.

In [ ]:
s = "Hi there Sam!"
string = s.split()
string

['Hi', 'there', 'Sam!']

3.Given the variables:

planet = "Earth"
diameter = 12742

** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth" 
diameter = 12742

string = "The diameter of {} is {} kilometers" .format(planet,diameter)
string

'The diameter of Earth is 12742 kilometers'

4.** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

lst[3][1][2]

['hello']

5.Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

d['k1'][3]['tricky'][3]['target'][3]

'hello'

6.What is the main difference between a tuple and a list?

Tuple is immutable

7.Create a function that grabs the email website domain from a string in the form:

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [ ]:
def domainGet(email):
   return email.split('@')[1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

8. Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [ ]:
def findDog(sentence):
    if sentence.find('dog'):
      return True

In [ ]:
findDog('Is there a dog here?')

True

9.Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [ ]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
           count += 1
    return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

10.Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']

should be filtered down to:

['soup','salad']

In [ ]:
seq = ['soup','dog','salad','cat','great']

In [ ]:
list(filter(lambda x:x.startswith('s'),seq))

['soup', 'salad']

11.You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [ ]:
def caught_speeding(speed, is_birthday):

    if is_birthday:
      speedlimit = speed -5
    else:
      speedlimit = speed

    if speedlimit <= 60:
       print('No ticket')

    elif speedlimit >=61 and speedlimit <=80:
       print('Small ticket')

    else:
       print('Big Ticket')

In [ ]:
caught_speeding(81,True)

Small ticket

In [ ]:
caught_speeding(81,False)

Big Ticket